.layout {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.sidebar {
  width: 360px;
}

.main {
  width: calc(100% - 360px - 64px);
}

.footer {
  text-align: center;
}

.loader {
  text-align: left;
  line-height: 56px;
}
