.nav {
  margin: 0 auto;
}

.list {
  display: flex;
  gap: 32px;
}

.item {
  font-weight: 500;
  color: var(--main);
}

.link {
  &:focus-visible {
    text-decoration: underline;
  }
}

.active {
  color: var(--button-hover);
}
