input:checked + * {
  border-color: var(--button);
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 96px;
  padding: 4px;
  border: var(--border);
  border-radius: 12px;
  text-align: center;
  font-weight: 500;
  color: var(--main);
  letter-spacing: -0.01em;
  cursor: pointer;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--main);
}
