.title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.33;
}

.price {
  margin-top: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 28px;
}

.galleryItem {
  width: calc((100% - 144px) / 4);
  border-radius: 10px;
  aspect-ratio: 0.9358;
  overflow: hidden;
}

.galleryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  margin-top: 28px;
}

.tabs {
  margin-top: 60px;
}

.tabsTitles {
  display: flex;
  gap: 40px;
  margin-bottom: 44px;
  border-bottom: var(--border);
}

.tabsTitle {
  position: relative;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--main);
  cursor: pointer;
  outline: none;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color var(--transition);
  }

  &[aria-selected='true']::before {
    background-color: var(--button);
  }
}

.tabsHolder {
  display: flex;
  gap: 40px;
}

.tabsPanels {
  width: 48%;
}

.detailsContent {
  padding: 44px 52px;
  border-radius: 10px;
  background-color: var(--inputs);
}

.detailes {
  margin-top: 100px;
}

.detailesTitle {
  margin-bottom: 20px;
  padding-bottom: 24px;
  border-bottom: var(--border);
  font-size: 20px;
  line-height: 1.2;
}

.detailesList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailesItem {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: var(--main);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviewAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--button);
}

.reviewHeadline {
  flex: 1;
}

.reviewAuthor {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
}

.reviewText {
  margin-top: 16px;
}

.booking {
  flex: 1;
  padding: 44px 57px;
  border: var(--border);
  border-radius: 10px;
}

.bookingTitle {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}

.bookingText {
  margin-bottom: 24px;
  color: var(--gray);
}
