@import 'styles/default.css';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 600;
  color: var(--main);
}

h1 {
  font-size: 48px;
  line-height: 0.66667;
}

h2 {
  font-size: 24px;
  line-height: 1.33333;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  box-shadow: none;
  border-radius: 0;
}

textarea {
  resize: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

input,
button {
  appearance: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
