@import 'fonts.css';
@import 'variables.css';

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 600;
  color: var(--main);
}

h1 {
  font-size: 48px;
  line-height: 0.67;
}

h2 {
  font-size: 24px;
  line-height: 1.33;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: color var(--transition);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  box-shadow: none;
  border-radius: 0;
}

textarea {
  resize: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}

input,
button {
  appearance: none;
}

button {
  cursor: pointer;
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.react-datepicker-wrapper {
  width: 100%;

  & + span {
    font-size: 12px;
    color: var(--button);
  }
}

.react-datepicker-popper {
  .react-datepicker {
    font-family: var(--font);
    border-radius: 15px;
  }

  .react-datepicker__header {
    padding: 12px 0;
    background-color: transparent;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--main);
  }

  .react-datepicker__day-name,
  .react-datepicker__time-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--text);
  }

  .react-datepicker__day {
    font-size: 14px;
    color: var(--main);
  }

  .react-datepicker__day--selected:not([aria-disabled='true']):hover,
  .react-datepicker__day--in-selecting-range:not([aria-disabled='true']):hover,
  .react-datepicker__day--in-range:not([aria-disabled='true']):hover,
  .react-datepicker__month-text--selected:not([aria-disabled='true']):hover,
  .react-datepicker__month-text--in-selecting-range:not([aria-disabled='true']):hover,
  .react-datepicker__month-text--in-range:not([aria-disabled='true']):hover,
  .react-datepicker__quarter-text--selected:not([aria-disabled='true']):hover,
  .react-datepicker__quarter-text--in-selecting-range:not([aria-disabled='true']):hover,
  .react-datepicker__quarter-text--in-range:not([aria-disabled='true']):hover,
  .react-datepicker__year-text--selected:not([aria-disabled='true']):hover,
  .react-datepicker__year-text--in-selecting-range:not([aria-disabled='true']):hover,
  .react-datepicker__year-text--in-range:not([aria-disabled='true']):hover,
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    border-radius: 32px;
    background-color: var(--text);
    color: var(--inputs);
  }

  .react-datepicker__year-read-view--down-arrow,
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__month-year-read-view--down-arrow,
  .react-datepicker__navigation-icon::before {
    border-color: var(--text);
    border-width: 2px 2px 0 0;
  }
}
