:root {
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray-light: #dadde1;
  --rating: #ffc531;
  --button: #e44848;
  --button-hover: #d84343;
  --gray: #6c717b;
  --text: #475467;
  --main: #101828;

  --font: 'Inter', sans-serif;
  --border: 1px solid var(--gray-light);
  --transition: 0.3s ease;
}
