:root {
  --white: #fff;
  --light-grey: #f5f5f7;
  --grey: #b7aeae;
  --yellow: #ebeb00;
  --red: #f45b5b;
  --green: #0acf83;
  --blue: #032541;
  --light-blue: #01b4e4;
  --black: #0c0b0b;

  --accent: var(--blue);

  --font-primary: 'Baloo Bhaijaan 2', sans-serif;
}
